.divside{
    height: 240px;
    border-bottom: 5px solid green;
    padding: 10px;
}

.divside h1{
    border-bottom: 3px solid green;
}

.divside a{
    color: black;
    text-decoration: none;
}

.divside a:hover{
    font-size: 20px;
}

.divside h4{
    border-bottom: 1px solid green;
}

.divside1{
    height: 520px;
    border-bottom: 5px solid green;
    padding: 10px;
}

.divside1.contain{
    border-bottom: 3px dotted green;
    height: 110px;
}

.divside1 img{
    height: 100px; 
    width: 100px;
    float: left;
    margin-right: 10px;
}


.divside1 p{
    color: darkgreen;
    font-size: small;
    padding-left: 20px;
}

.divside1 h3:hover{
    font-size: 22px;
}